$crystalwhite: #FFF;
$white: #F8F8F8;
$gray: #F4F4F4;
$green: #428A60;
$black: #000;
$yellow: #FDE509;
$orange: #FE810F;
$darkorange: #FD6A0A;
$purple: #701DF7;
$grey: #827E7E;
$darkgrey: #545454;

$tablet-bp: 991px;
$mobile-bp: 575px;

$z-index-sidebar: 1000;
$z-index-header: 1000;

$sidebar-width: 300px;