.timer {
  margin: 0 auto;
}

.etTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.etNumber {
  font-weight: 700;
  width: 54px;
  height: 76px;
  text-align: center;
}

.etSign {
  letter-spacing: 1px;
  font-family: "ubunty", sans-serif;
}
