<header class="header">
	<div class="container">
		<div class="header__inner">
			<div class="logo__phone">
				<div class="logo">
					<a href="https://www.vk.com/cy66a" alt="Advance">
						<img src="assets/images/logo.svg" alt="Advance"></a>
				</div>
				<a href="tel:88007005342" class="phone">
					<span class="phone" style="color:#000">8 (800) 700-53-42</span>
				</a>
			</div>
			<div class="content">
				<div class="content__date">
					<div class="date__icon">
					</div>
					<time datetime="2021-08-03" itemprop="startDate" content="2021-06-22"> 22 июня, 22:00</time>
				</div>
				<div class="content__title">
					Марафон <br> <mark>лучших технологий </mark> ускоренного изучения английского языка
				</div>
				<div class="content__discription">
					<p>3 дня, которые перевернут ваше представление об изучении английского языка</p>
					<ul class="advantages">
						<li class="item">
							<div class="advantages__logo"><img src="assets/images/star.svg" alt="star"></div>
							<div class="advantages__title">Вся структура английского наглядно и понятным языком;</div>
						</li>
						<li class="item">
							<div class="advantages__logo"><img src="assets/images/star.svg" alt="star"></div>
							<div class="advantages__title">Ежедневная практика новых слов, фраз и произношения;</div>
						</li>
						<li class="item">
							<div class="advantages__logo"><img src="assets/images/star.svg" alt="star"></div>
							<div class="advantages__title">План на 3 месяца и гарантированный старт изучения языка.
							</div>
						</li>
					</ul>
				</div>

			</div>
			<div class="content__registration">
				<div class="left">
					<p>Доступна ранняя регистрация. Участвуйте бесплатно.</p>
				</div>
				<div class="speaker">Спикер марафона — <br>Анна Савельева</div>
			</div>
			<form action="#registration">
				<button class="btn">Принять участие</button>
			</form>
			<div class="speaker-mobile">Спикер марафона — Анна Савельева</div>
		</div>
			<div class="content__bonus">
			</div>
		</div>

</header>