<section class=maraphone>
	<div class="container">
		<div class="maraphone__inner">
			<h2><mark>Программа марафона</mark></h2>
			<div class="cards">
				<div class="card">
					<h3>
						1 день
					</h3>
					<time datetime="2021-06-22"> 22 июня, вторник, 20:00
					</time>
					<div class="card__block">
						<h4>
							Структура английского языка на пальцах
						</h4>

						Поймете, на чем вам нужно сосредоточиться, чтобы выучить английский язык
					</div>
					<div class="card__block">
						<h4>
							Ваш план на 3 месяца по изучению английского
						</h4>
						Осознаете, зачем и что конкретно вы хотите от английского языка. Поставите четкую цель
					</div>
					<div class="card__block">
						<h4>
							Уникальная технология изучения 100 слов в час
						</h4>
						Гарантированно научитесь легко запоминать английские слова, используя технологию готовых
						ассоциаций
					</div>

				</div>
				<div class="card none">
					<h3>
						2 день
					</h3>
					<time datetime="2021-06-22"> 23 июня, среда, 20:00
					</time>
					<div class="card__block">
						<h4>
							Все нюансы произношения
						</h4>

						Узнаете, как правильно произносить слова с помощью нечитаемых букв
					</div>
					<div class="card__block">
						<h4>
							Лайфхаки в фонетике
						</h4>
						Поймете, как избавиться от русского акцента и как говорить так, чтобы вас понимали
					</div>
					<div class="card__block">
						<h4>
							Восприятие английского на слухВосприятие английского на слух
						</h4>
						Пройдете специальное практическое упражнение, которое поможет воспринимать английскую речь на
						слух
					</div>

				</div>
				<div class="card none">
					<h3>
						3 день
					</h3>
					<time datetime="2021-0-22"> 24 июня, четверг, 20:00
					</time>
					<div class="card__block">
						<h4>
							Ее величество грамматика </h4>

						Поймете основные грамматические конструкции и закрепите их на практике
					</div>
					<div class="card__block">
						<h4>
							Как легко выучить грамматику </h4>
						С помощью технологии «паттерны» и майнд-карт прямо на занятии выучите главные грамматические
						конструкции
					</div>
					<div class="card__block">
						<h4>
							Пошаговые действия улучшения вашего уровня языка </h4>
						Детально поймете, как действовать именно вам для повышения уровня английского языка
					</div>

				</div>
			</div>
		</div>
	</div>
</section>