<div class="registration__form">
	<form action="#" id="form" class="form__body">
		<div class="form__item">
			<label for="formName" class="form__label"></label>
			<input is="forName" type="text" name="name" class="form__input" placeholder="Ваше имя">
		</div>
		<div class="form__item">
			<label for="formEmail" cl ass="form__label"></label>
			<input is="forEmail" type="text" name="email" class="form__input" placeholder="E-mail">
		</div>
		<button class="btn btn--sm">Забронировать место</button>
		<div class="form__item">
			<div class="checkbox">
				<input id="formAgreement" type="checkbox" name="agreement" class="checkbox__input" checked>
				<label for="formAgreement" class="checkbox__label">
					<span>Принимаю условия политики конфиденциальности</span>
				</label>
			</div>
		</div>
	</form>
</div>